body {
  background-image: url("/images/fond.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
/*! HEADER */
header {
  text-align: center;
  width: 100%;
}

img {
  max-width: 700px;
}
nav {
  opacity: 80%;
  height: 2.2em;
  background-color: rgb(86, 86, 86);
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  display: inline-block;
  margin-right: 1em;
}
a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover,
nav ul li a:focus {
  font-size: 1.2em;
  font-weight: bold;
}
h1 {
  font-size: 1.6em;
}
/*! MAIN*/
main {
  padding: 10px 35px 10px 35px;
  background-color: white;
  opacity: 90%;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 30px;
}
main p {
  margin-top: 5px;
}
main p.lettre::first-letter {
  font-size: 1.6em;
  color: #8e2624;
}
#telechargement {
  color: #8e2624;
}
main h2::first-letter {
  font-size: 1.6em;
}

/*! FOOTER */
footer {
  text-align: center;
  margin: 0 auto;
  min-width: max-content;
  max-width: 850px;
}
footer p {
  color: #8e2624;
  margin-top: 10px;
  margin-bottom: 10px;
}
footer p#copy {
  padding-bottom: 11px;
}
